<div class="page-width buyback-policy-content-container">
  <h2>{{ section.settings.heading }}</h2>
  {{ section.settings.content }}
  <h2>{{ section.settings.heading_2 }}</h2>
  {{ section.settings.content_2 }}
</div>
<style>
  .buyback-policy-content-container h2 {
    font-size: 3rem;
    font-weight: 500;
  }
</style>

{% schema %}
{
  "name": "Home About Us",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "heading_2",
      "label": "Section Heading 2"
    },
    {
      "type": "richtext",
      "id": "content_2",
      "label": "Content 2"
    }
  ],
  "presets": [
    {
      "name": "Buyback Policy Content"
    }
  ]
}
{% endschema %}
