<div class="page-width product-page-details-container">
  {% for list in product.metafields.content.product_details_list.value %}
    <div class="product-page-details-list-container">
      <p class="product-page-details-list_heading">{{ list.heading }}</p>
      {% for list-item in list.product_details_item.value %}
        <p class="product-page-details-list_title">{{ list-item.title }}</p>
        <p class="product-page-details-list_content">{{ list-item.content }}</p>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<style>
  .product-page-details-container {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 2%;
  }
</style>

{% schema %}
{
  "name": "Product Page Details",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Product Details"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product Page Details"
    }
  ]
}
{% endschema %}
