<div class="page-width product-page-details-container">
  {% for list in product.metafields.content.product_details_list.value %}
    <div class="product-page-details-list-container">
      <p>{{ list.heading }}</p>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Product Page Details",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Product Details"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product Page Details"
    }
  ]
}
{% endschema %}
