slideshow-component .slideshow__controls {
    position: unset !important;
}

slideshow-component .slideshow__controls .slideshow__autoplay {
    display: none;
}

slideshow-component .slideshow__controls .slider-button--prev {
    position: absolute;
    top: 50%;
    left: 40px;
    scale: .6;
    transform: translateY(-50%);
}

slideshow-component .slideshow__controls .slider-button--next {
    position: absolute;
    top: 50%;
    right: 40px;
    scale: .6;
    transform: translateY(-50%);
    transform: rotate(180deg);
}

slideshow-component .slideshow__controls .slider-counter {
    display: none;
}

slideshow-component .slideshow__controls {
    border: none !important;
}

slideshow-component .slideshow {
    min-height: auto !important;
    height: auto !important;
    aspect-ratio: 1440/640;
}

.slider-button .icon {
    height: 2rem !important;
}

.slider-counter__link--active.slider-counter__link--dots .dot {
    background-color: #fff !important;
}

.slider-counter__link--dots .dot {
    border: 0.1rem solid #fff !important;
}

.header__icon--search {
    width: 100% !important;
    display: flex !important;
    border-bottom: #00000050 solid 2px;
    margin-right: 10px;
    padding-right: 110px;
    padding-left: 10px;
    gap: 10px;
}

.header__search .link {
    text-decoration: none !important;
}

.header__icon--search .svg-wrapper {
    width: fit-content !important;
}

.header__icons {
    width: fit-content;
}

.header__search {
    width: 100% !important;
}

.header__search details {
    width: 100%;
    justify-content: start;
    align-items: start;
    display: flex;
}

.header__icon {
    color: #610C27 !important;
}

.header__icon .svg-wrapper {
    width: 100% !important;
}

.section-heading,
.collapsible-content__heading,
.jdgm-rev-widg__title,
.related-products__heading {
    text-align: left !important;
    margin-bottom: 40px !important;
    margin-top: 0 !important;
    font-size: 3rem !important;
    font-weight: 500 !important;
}

#shopify-section-template--24203645747384__home_tryathome_aqqR4j {
    padding-top: 60px;
}

#shopify-section-template--24203645747384__collapsible_content_8wA47G,
#shopify-section-template--24203645747384__home_about_7agqRh,
#shopify-section-template--24203645747384__home_benefits_e9Pe77 {
    padding-top: 35px;
}

.occasion-images-container-parent {
    margin-top: 50px;
}

.slideshow__controls {
    border: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px !important;
}

.header-nav-and-logo {
    display: flex;
    gap: 10px;
}

.c-menu2 {
    display: flex;
}

.c-menu2 a,
.c-menu3 a {
    color: #000;
    font-size: 1.5rem;
}

.c-menu2 .header__search span {
    font-size: 1.5rem;
}

.c-menu3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4EEEB;
}

.home-try-at-home-section-left p {
    font-size: 2rem;
    margin: 0;
    line-height: 3rem;
    width: 80%;
    font-weight: 400;
}

/* Dropdown styling */
.c-menu3 .dropdown {
    position: relative;
}

.c-menu3 .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 200px;
    padding: 10px 0;
}

.c-menu3 .dropdown:hover .dropdown-menu,
.c-menu3 .dropdown.active .dropdown-menu {
    display: block;
}

/* Caret icon styling */
.c-menu3 .caret-icon {
    width: 10px;
    height: 10px;
    margin-left: 8px;
    transition: transform 0.3s ease;
}

/* Rotate caret when active or hovered */
.c-menu3 .dropdown:hover .caret-icon,
.c-menu3 .dropdown.active .caret-icon {
    transform: rotate(180deg);
}

/* Dropdown item styling */
.c-menu3 .dropdown-item {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    display: block;
}

.c-menu3 .dropdown-item:hover {
    background-color: #f4f4f4;
}

.c-menu3 svg {
    width: 11px;
}

.c-menu3 .dropdown a {
    display: flex;
    gap: 7px;
}

.header-drawer-and-logo {
    display: flex;
    gap: 10px;
}

footer {
    margin-top: 60px !important;
}

footer li a {
    text-decoration: none !important;
    color: #610C27 !important;
}

.desktop-image {
    display: block !important;
    position: relative;
    width: 100%;
    height: 100%;
}

.mobile-image {
    display: none !important;
    position: relative;
    width: 100%;
    height: 100%;
}

.desktop-image img,
.mobile-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


slideshow-component .slideshow {
    width: 100%;
}

sticky-header .header__search {
    display: none;
}

.footer__content-bottom {
    display: none !important;
}

.noUi-handle {
    border: none !important;
    border-radius: 50% !important;
    background: #610c27 !important;
    cursor: pointer !important;
    box-shadow: none !important;
}

.noUi-horizontal .noUi-handle {
    height: 15px !important;
    width: 15px !important;
}

.noUi-handle:after,
.noUi-handle:before {
    display: none !important;
}

.noUi-horizontal {
    height: 4px !important;
}

.noUi-target {
    background: #F4EEEB !important;
    border: none !important;
    box-shadow: none !important;
}

.price-slider-values {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noUi-connect {
    background: #610c27 !important;
    display: flex !important;
    margin-right: -10px;
}

.price-slider-values span {
    color: #610C27;
    padding-top: 10px;
}

.facets-vertical-form {
    justify-content: space-between !important;
    align-items: center !important;
    margin-bottom: 80px;
}

.facets-vertical .active-facets {
    position: absolute;
    left: 321px;
    top: 323px;
    display: flex !important;
    width: max-content;
    flex-wrap: wrap;
    align-items: baseline !important;
    z-index: 99;
}

#FacetsWrapperDesktop {
    position: relative;
}

.active-facets__button--light .active-facets__button-inner,
.facet-filters__field .select {
    box-shadow: none;
    border-radius: 0;
    background: #F4EEEB;
    padding: 10px 20px;
    color: #610C27;
}

.facet-filters__field img {
    width: 20px;
    margin-right: 8px;
}

.facet-filters__field select {
    color: #610C27;
}

.facet-filters .select .svg-wrapper {
    right: 20px !important;
}

.facets-vertical .product-grid-container .grid:last-child {
    margin-top: 40px;
}

.active-facets__button--light .active-facets__button-inner {
    box-shadow: none !important;
    transition: all ease-in .2s;
}

.active-facets__button--light .active-facets__button-inner:hover {
    background-color: #610C27 !important;
    color: #F4EEEB !important;
}

#FacetsWrapperDesktop details:first-of-type {
    border-top: none !important;
}

.collapsible-content__grid .accordion h3 {
    font-family: "Quicksand", sans-serif !important;
    font-weight: 500;
    letter-spacing: 0;
    font-size: 1.9rem;
}

.collapsible-content__grid .accordion p {
    font-family: "Quicksand", sans-serif !important;
    font-weight: 400;
    letter-spacing: 0;
}

.collection-hero__text-wrapper {
    display: none;
}

.collection-hero__image-container {
    margin: 0 !important;
    display: none !important;
    border-radius: 15px !important;
}

.collection-hero--with-image {
    padding: 0 !important;
}

.home-try-at-home-section-container {
    background-color: #f4eeeb;
    padding: 30px 0 !important;
    margin: 50px 0;
}

.home-try-at-home-section-container .section-heading {
    margin: 0 !important;
}

.pdp-try-at-home-section-container {
    padding: 30px 0 !important;
    margin: 50px 0;
}

.pdp-try-at-home-section-container .section-heading {
    margin: 0 !important;
}

.home-try-at-home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-try-at-home-section-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    gap: 30px;
}

.home-try-at-home-section-left div {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.home-try-at-home-section-right {
    width: 30%;
}

.home-try-at-home-section-right img {
    width: 100%;
}

.home-try-at-home-section-left a {
    border: solid 1px #610c27;
    background: transparent;
    text-decoration: none;
    color: #610c27;
    padding: 8px 50px;
    font-size: 1.5rem;
    transition: all ease-in 0.3s;
    cursor: pointer;
}

.home-try-at-home-section-left a:hover {
    background: #610c27;
    color: white;
}

product-info .product__title h1 {
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0;
}

product-info .price__container span {
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 0;
}

.collection-hero__title {
    text-wrap: nowrap;
}

.product-info-price-subtitle {
    margin: -7px 0 1rem;
    font-size: 1.3rem;
    letter-spacing: 0;
    font-weight: 400;
}

.product-features-badges-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.product-features-badges-container::-webkit-scrollbar {
    display: none;
}

.product-features-badge-text {
    text-wrap: nowrap;
    background: #F4EEEB;
    padding: 8px 11px;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
    letter-spacing: 0;
}

product-info variant-selects {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 2%;
    margin: 1rem 0;
}

product-info variant-selects .select:after,
product-info variant-selects .select:hover {
    border: none !important;
    box-shadow: none !important;
    background: #610C270D;
}

product-info variant-selects select {
    font-size: 1.3rem !important;
    letter-spacing: 0 !important;
    font-weight: 500 !important;
}

product-info variant-selects img {
    width: 100%;
}

.product-form__input--dropdown {
    margin: 0 !important;
}

.Variant-type-label {
    display: none;
}

.product__info-container .product__description {
    line-height: 2rem;
    letter-spacing: 0;
    font-size: 1.4rem;
    margin: 0 !important;
    font-weight: 500;
}

.product-form__buttons {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.product-form__buttons a,
.product-form__buttons button {
    width: 48%;
    margin: 0;
    padding: 10px 0;
}

.product-form__buttons a {
    text-align: center;
    text-decoration: none;
    color: #712242;
    border: solid 1px #712242;
}

.product-form__buttons button {
    display: flex;
    gap: 10px;
}

.product-form__buttons button img {
    height: 27px;
    width: 27px;
}

.sizing-guide {
    margin: 0 0 20px;
    line-height: 0;
}

.sizing-guide button {
    font-size: 1.3rem;
    cursor: pointer;
    line-height: 5px;
    border: none;
    color: #612342;
    background: transparent;
    text-decoration: underline;
    font-weight: 600;
    font-family: 'Quicksand';
    transition: all ease-in .3s;
}

.sizing-guide button:hover {
    opacity: .8;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    position: relative;
}

.popup .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.popup .close-btn:hover {
    color: #ff0000;
}

body.no-scroll {
    overflow: hidden;
}

.jdgm-rev-widg {
    padding-top: 50px !important;
    padding-bottom: 0 !important
}

.jdgm-widget:not(.jdgm-review-widget--small, .jdgm-review-widget--medium) .jdgm-row-stars {
    padding-bottom: 0 !important
}

.pincode-availability-checker-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 0;
}

.pincode-availability-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-bottom: solid 1px #71224250;
    padding-bottom: 7px;
}

.pincode-availability-left img {
    width: 19px;
    height: 19px;
}

.pincode-availability-left input {
    border: none;
    color: #712242;
    font-size: 1.7rem;
    letter-spacing: 0;
    font-family: 'Quicksand';
    font-weight: 600;
}

.pincode-availability-left input::placeholder {
    color: #71224280;
    font-size: 1.7rem;
}

.pincode-availability-checker-container button {
    border: none;
    background: transparent;
    color: #712242;
    text-decoration: underline;
    font-family: 'Quicksand';
    font-weight: 600;
    letter-spacing: 0;
    font-size: 1.5rem;
}

.pincode-checker-result {
    font-family: 'Quicksand';
    font-weight: 600;
    letter-spacing: 0;
    font-size: 1.7rem;
    margin: 5px 0;
}

.pincode-checker-result.available {
    color: #4b8b1c;
}

@media(max-width:1000px) {
    .facets-vertical .active-facets {
        top: 285px;
    }

    .facets-vertical-form {
        margin-bottom: 40px;
    }
}

@media (max-width: 756px) {
    .product-grid-container facet-filters-form {
        display: flex !important;
    }

    .product-grid-container facet-filters-form form {
        display: flex !important;
        width: 100%;
    }

    .product-grid-container facet-filters-form form h1 {
        margin: 0 !important;
    }

    .product-grid-container facet-filters-form form .facet-filters {
        padding: 0 !important;
        width: 30%;
    }

    .mobile-facets__wrapper,
    .product-count {
        display: none !important;
    }

    .facets-vertical .active-facets {
        left: 0 !important;
        top: 60px !important;
        gap: 10px;
        padding-left: 10px;
        overflow-x: auto;
        width: 100%;
        flex-wrap: nowrap;
    }

    .facets-vertical .active-facets span {
        text-wrap: nowrap;
    }

    .product-grid-container .collection {
        margin-top: 115px;
    }

    .active-facets__button-inner {
        font-size: 1.4rem !important;
        border-radius: 15px !important;
    }

    .active-facets__button {
        padding: 0 !important;
    }

    .facets-wrapper {
        width: 100%;
        position: absolute;
        top: 460px;
        left: 15px;
    }

    .page-width--full-width {
        padding: 0 1.5rem !important;
    }

    .facets__summary {
        margin: 0 !important;
    }

    #FacetsWrapperDesktop details {
        background: #F4EEEB;
        padding: 10px 15px;
        border-radius: 15px;
        z-index: 999;
        height: fit-content;
        color: #610C27;
    }

    .facets-vertical aside {
        width: 93%;
    }

    .facets-container {
        display: flex !important;
        flex-direction: column;
    }

    .collection-hero--with-image .collection-hero__inner {
        padding-bottom: 0 !important;
    }

    .facets-vertical .facets-wrapper facet-filters-form {
        display: flex !important;
        overflow-x: auto;
    }

    .facets-vertical .facets-wrapper facet-filters-form #FacetsWrapperDesktop {
        display: flex !important;
        gap: 10px;
    }

    .facets-vertical .facets-wrapper facet-filters-form #FacetsWrapperDesktop span {
        color: #610C27;
        text-wrap: nowrap !important;
    }

    .collection-hero__image-container {
        margin: 20px 0 0 0 !important;
        display: block !important;
    }

    .mobile-search .header__icon--search {
        width: 100% !important;
        margin-right: 0px;
        padding-right: 13px;
        padding-left: 13px;
        opacity: .6;
    }

    .mobile-search details {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer li a,
    footer li p {
        font-size: 1.4rem !important;
        line-height: 2rem !important;
        padding: 6px 0 !important;
    }

    .section-heading,
    .collapsible-content__heading,
    .jdgm-rev-widg__title,
    .related-products__heading {
        font-size: 2.6rem !important;
    }

    .home-try-at-home-section-left p {
        font-size: 1.2rem;
        color: #000;
        line-height: 1.5rem;
    }

    .home-try-at-home-section-left div {
        margin-top: 5px !important;
    }

    slideshow-component .slideshow {
        aspect-ratio: 390/396;
    }

    .shop-by-category-section {
        margin-top: 30px !important;
    }

    .category-tab-button {
        font-size: 1.9rem !important;
        padding: 10px 20px;
    }

    .category-items-row p {
        font-size: 1.5rem !important;
        line-height: 2rem;
    }

    .slider.slider--everywhere .slider__slide {
        min-height: 100%;
    }

    .banner--medium.banner--mobile-bottom:not(.banner--adapt) .banner__media {
        height: 100% !important;
    }

    .desktop-image {
        display: none !important;
    }

    .mobile-image {
        display: block !important;
    }

    .c-menu2,
    .c-menu3 {
        display: none;
    }

    header .header__search {
        display: none !important;
    }

    sticky-header .header__search {
        display: block;
        padding: 0 20px 10px;
    }

    .header {
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header__icons {
        width: fit-content;
    }

    .category-tabs-row::-webkit-scrollbar,
    .category-items-row::-webkit-scrollbar,
    .occasion-images-container::-webkit-scrollbar {
        display: none;
    }

    .category-items-row,
    .occasion-images-container {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .category-tabs-row {
        margin-bottom: 0 !important;
        padding: 0 !important;
    }

    .category-item {
        min-width: 37% !important;
    }

    .occasion-tab-content {
        width: 40% !important;
    }

    .occasion-images-container {
        gap: 10px !important;
    }

    .home-try-at-home-section-left .section-heading {
        margin: 0 !important;
        font-size: 2.2rem !important;
    }

    .section-heading,
    .collapsible-content__heading,
    .jdgm-rev-widg__title,
    .related-products__heading {
        margin-bottom: 20px !important;
    }

    .zinara-benefits-content {
        min-width: 110px;
    }

    .zinara-benefits-content p {
        font-size: 1.2rem !important;
        line-height: 1.4rem !important;
    }

    .home-benefits-container {
        gap: 15px;
    }

    .home-try-at-home-section-left a:nth-of-type(2) {
        display: none;
    }

    .home-try-at-home-section-right {
        width: 41% !important;
    }

    .home-try-at-home-section-left {
        gap: 10px !important;
        width: 57% !important;
    }

    .home-try-at-home-section-left a {
        padding: 9px 28px !important;
    }

    .image-carousel-container .carousel-arrow,
    .pdp-image-carousel-container .carousel-arrow {
        display: none !important;
    }

    .images-parent-div {
        overflow: auto;
        padding-left: 10px;
        scroll-snap-type: x mandatory;
    }


    .image-carousel img {
        width: 75% !important;
        scroll-snap-align: start;
    }

    .image-carousel img {
        padding-left: 10px;
    }

    .image-carousel img:nth-last-of-type(1) {
        padding-right: 10px;
    }

    .image-carousel img:not(.active) {
        opacity: 1 !important;
        transform: scale(1) !important;
    }

    #shopify-section-template--24208249323704__home_about_7agqRh {
        padding-top: 20px !important;
    }

    .header-drawer-and-logo {
        gap: 0;
    }

    .header__icon .svg-wrapper {
        height: 35px;
    }

    .occasion-images-container-parent {
        padding-top: 20px;
        margin-top: 30px !important;
    }

    .image-container img {
        border-radius: 9px;
    }

    #shopify-section-template--24203645747384__home_benefits_e9Pe77,
    #shopify-section-template--24203645747384__collapsible_content_8wA47G,
    #shopify-section-template--24203645747384__home_about_7agqRh {
        padding-top: 20px;
    }

    #shopify-section-template--24203645747384__home_tryathome_aqqR4j {
        margin-top: 45px !important;
        padding-top: 0 !important;
    }

    #shopify-section-template--24203645747384__collapsible_content_8wA47G .accordion {
        margin: 0 !important;
    }

    #shopify-section-template--24203645747384__collapsible_content_8wA47G .accordion h3 {
        font-family: "Quicksand", sans-serif !important;
    }

    .home-try-at-home-section-left a {
        font-size: 1.3rem !important;
    }

    .testimonial-carousel-arrow {
        display: none !important;
    }

    .testimonial-container {
        scroll-snap-align: start;
        min-width: 80% !important;
    }

    .home-testimonials-carousel-parent {
        padding-left: 10px;
        gap: 10px;
        overflow: auto;
        scroll-snap-type: x mandatory;
    }

    .home-testimonials-carousel-parent .testimonial-container {
        padding-left: 20px;
    }

    .testimonial-container:not(.active) {
        opacity: 1 !important;
        transform: scale(1) !important;
    }

    .testimonial-container {
        border-bottom: solid 1px #00000050;
    }

    .home-about-us {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        gap: 10px;
    }

    .home-about-us-left {
        width: 100% !important;
        overflow: auto;
    }

    .home-about-us-left .home-about-us-left_small_image {
        width: 200px !important;
    }

    .home-about-us-right {
        width: 100% !important;
    }

    footer {
        margin-top: 20px !important;
    }

    .testimonial-container p {
        font-size: 1.5rem !important;
        line-height: 2.5rem !important;
    }

    .footer__content-top {
        padding-left: 20px !important;
        padding-right: 20px !important;
        display: flex;
        flex-wrap: wrap;
    }

    .footer__content-top .footer-block {
        width: 48% !important;
        max-width: 48% !important;
    }

    .footer__content-top .footer-block.grid__item,
    .footer__blocks-wrapper {
        margin: 0 !important;
    }

    .footer-block__details-content {
        margin-bottom: 1 !important;
    }

    .footer__blocks-wrapper {
        display: flex !important;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
    }
}