#shopify-section-template--24203645747384__slideshow_K6fGxD .slideshow__controls {
    margin-top: -50px;
    position: unset !important;
}

#shopify-section-template--24203645747384__slideshow_K6fGxD .slideshow__controls .slideshow__autoplay {
    display: none;
}

#shopify-section-template--24203645747384__slideshow_K6fGxD .slideshow__controls .slider-button--prev {
    position: absolute;
    top: 50%;
    left: 40px;
    scale: .6;
    transform: translateY(-50%);
}

#shopify-section-template--24203645747384__slideshow_K6fGxD .slideshow__controls .slider-button--next {
    position: absolute;
    top: 50%;
    right: 40px;
    scale: .6;
    transform: translateY(-50%);
    transform: rotate(180deg);
}

.slider-button .icon {
    height: 2rem !important;
}

.slider-counter__link--active.slider-counter__link--dots .dot {
    background-color: #fff !important;
}

.slider-counter__link--dots .dot {
    border: 0.1rem solid #fff !important;
}

.header__icon--search {
    width: 100% !important;
    display: flex !important;
    border-bottom: #00000050 solid 2px;
    margin-right: 10px;
    padding-left: 10px;
    gap: 10px;
}

.header__search .link {
    text-decoration: none !important;
}

.header__icon--search .svg-wrapper {
    width: fit-content !important;
}

.header__icons {
    width: 350px;
}

.header__search {
    width: 100% !important;
}

.header__search details {
    width: 100%;
    justify-content: start;
    align-items: start;
    display: flex;
}

.header__icon {
    color: #610C27 !important;
}

.header__icon .svg-wrapper {
    width: 100% !important;
}

.section-heading,
.collapsible-content__heading {
    text-align: left !important;
    margin-top: 25px !important;
    margin-bottom: 40px !important;
    font-size: 3rem !important;
    font-weight: bold !important;
}

#shopify-section-template--24203645747384__home_shop_by_occasion_hiVcrk,
#shopify-section-template--24203645747384__home_benefits_e9Pe77,
#shopify-section-template--24203645747384__home_tryathome_aqqR4j,
#shopify-section-template--24203645747384__collapsible_content_8wA47G,
#shopify-section-template--24203645747384__home_about_7agqRh {
    padding-top: 60px;
}

.section_heading_with_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_heading_with_button p {
    color: #610C27;
    text-decoration: underline;
    cursor: pointer;
}

.slideshow__controls {
    border: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px !important;
}

.header-nav-and-logo {
    display: flex;
    gap: 10px;
}

.c-menu2 {
    display: flex;
}

.c-menu2 a,
.c-menu3 a {
    color: #000;
    font-size: 1.5rem;
}

.c-menu2 .header__search span {
    font-size: 1.5rem;
}

.c-menu3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4EEEB;
}

.home-try-at-home-section-left p {
    font-size: 2rem;
    margin: 0;
    width: 80%;
}

/* Dropdown styling */
.c-menu3 .dropdown {
    position: relative;
}

.c-menu3 .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 200px;
    padding: 10px 0;
}

.c-menu3 .dropdown:hover .dropdown-menu,
.c-menu3 .dropdown.active .dropdown-menu {
    display: block;
}

/* Caret icon styling */
.c-menu3 .caret-icon {
    width: 10px;
    height: 10px;
    margin-left: 8px;
    transition: transform 0.3s ease;
}

/* Rotate caret when active or hovered */
.c-menu3 .dropdown:hover .caret-icon,
.c-menu3 .dropdown.active .caret-icon {
    transform: rotate(180deg);
}

/* Dropdown item styling */
.c-menu3 .dropdown-item {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    display: block;
}

.c-menu3 .dropdown-item:hover {
    background-color: #f4f4f4;
}

.c-menu3 svg {
    width: 11px;
}

.c-menu3 .dropdown a {
    display: flex;
    gap: 7px;
}

.header-drawer-and-logo {
    display: flex;
    gap: 10px;
}

footer {
    margin-top: 60px !important;
}

footer li a {
    text-decoration: none !important;
}

.desktop-image {
    display: block !important;
    position: relative;
    width: 100%;
    height: 100%;
}

.mobile-image {
    display: none !important;
    position: relative;
    width: 100%;
    height: 100%;
}

.desktop-image img,
.mobile-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


slideshow-component .slideshow {
    min-height: 600px !important;
    width: 100%;
}

sticky-header .header__search {
    display: none;
}

@media (max-width: 756px) {

    .section-heading,
    .collapsible-content__heading {
        font-size: 2.2rem !important;
    }

    .home-try-at-home-section-left p {
        font-size: 1.3rem;
    }

    slideshow-component .slideshow {
        height: 450px;
        width: 100%;
    }

    .desktop-image {
        display: none !important;
    }

    .mobile-image {
        display: block !important;
    }

    .c-menu2,
    .c-menu3 {
        display: none;
    }

    header .header__search {
        display: none !important;
    }

    sticky-header .header__search {
        display: block;
        padding: 0 8px 10px;
    }

    .header {
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header__icons {
        width: fit-content;
    }

    .category-tabs-row {
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .category-tabs-row::-webkit-scrollbar,
    .category-items-row::-webkit-scrollbar,
    .occasion-images-container::-webkit-scrollbar {
        display: none;
    }

    .category-items-row,
    .occasion-images-container {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .category-tabs-row {
        margin-bottom: 0 !important;
    }

    .category-item {
        min-width: 37% !important;
    }

    .occasion-tab-content {
        width: 40% !important;
    }

    .occasion-images-container {
        gap: 10px !important;
    }

    .shop-by-category-section {
        padding-top: 50px !important;
        padding-bottom: 40px !important;
    }

    .home-try-at-home-section-left .section-heading {
        margin: 0 !important;
    }

    .section-heading,
    .collapsible-content__heading {
        margin-bottom: 20px !important;
    }

    .zinara-benefits-content {
        min-width: 110px;
    }

    .zinara-benefits-content p {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .home-benefits-container {
        gap: 15px;
    }

    .home-try-at-home-section-left a:nth-of-type(2) {
        display: none;
    }

    .home-try-at-home-section-right {
        width: 48% !important;
    }

    .home-try-at-home-section-left {
        gap: 10px !important;
    }

    .home-try-at-home-section-left a {
        padding: 9px 28px !important;
    }

    .image-carousel-container .carousel-arrow {
        display: none !important;
    }

    .images-parent-div {
        overflow: auto;
        padding-left: 10px;
        scroll-snap-type: x mandatory;
    }


    .image-carousel img {
        width: 75% !important;
        scroll-snap-align: start;
    }

    .image-carousel img {
        padding-left: 10px;
    }

    .image-carousel img:nth-last-of-type(1) {
        padding-right: 10px;
    }

    .image-carousel img:not(.active) {
        opacity: 1 !important;
        transform: scale(1) !important;
    }

    .home-testimonials-container {
        padding-top: 20px !important;
    }

    #shopify-section-template--24208249323704__home_about_7agqRh {
        padding-top: 20px !important;
    }

    .header-drawer-and-logo {
        gap: 0;
    }

    .header__icon .svg-wrapper {
        height: 35px;
    }

    #shopify-section-template--24203645747384__home_shop_by_occasion_hiVcrk,
    #shopify-section-template--24203645747384__home_benefits_e9Pe77,
    #shopify-section-template--24203645747384__home_tryathome_aqqR4j,
    #shopify-section-template--24203645747384__collapsible_content_8wA47G,
    #shopify-section-template--24203645747384__home_about_7agqRh,
    .home-testimonials-container .home-testimonials-container {
        padding-top: 20px;
    }

    #shopify-section-template--24203645747384__home_tryathome_aqqR4j {
        margin-top: 45px !important;
    }

    #shopify-section-template--24203645747384__collapsible_content_8wA47G .accordion {
        margin: 0 !important;
    }

    #shopify-section-template--24203645747384__collapsible_content_8wA47G .accordion h3 {
        font-family: "Quicksand", sans-serif !important;
    }

    .image-carousel-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .home-try-at-home-section-left a {
        font-size: 1.3rem !important;
    }

    .testimonial-carousel-arrow {
        display: none !important;
    }

    .testimonial-container {
        scroll-snap-align: start;
        min-width: 80% !important;
    }

    .home-testimonials-carousel-parent {
        padding-left: 10px;
        gap: 10px;
        overflow: auto;
        scroll-snap-type: x mandatory;
    }

    .home-testimonials-carousel-parent .testimonial-container {
        padding-left: 10px;
    }

    .testimonial-container:not(.active) {
        opacity: 1 !important;
        transform: scale(1) !important;
    }

    .testimonial-container {
        border-bottom: solid 1px #00000050;
    }

    .home-about-us {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        gap: 10px;
    }

    .home-about-us-left {
        width: 100% !important;
        overflow: auto;
    }

    .home-about-us-left .home-about-us-left_small_image {
        width: 200px !important;
    }

    .home-about-us-right {
        width: 100% !important;
    }

    footer {
        margin-top: 20px !important;
    }

    .testimonial-container p {
        font-size: 1.5rem !important;
        line-height: 2.5rem !important;
    }

    .testimonial-name img {
        width: 17% !important;
    }

    #shopify-section-template--24203645747384__slideshow_K6fGxD .slider-button {
        display: none !important;
    }
}