.mobile-filter-row-item {
    display: flex;
    gap: 4px;
    align-items: center;
    background: #f2eeeb;
    padding: 5px 7px;
}

.mobile-filter-row-item img {
    width: 25px;
    height: auto;
}

.mobile-filter-row-item p {
    color: #610C27;
    text-wrap: nowrap !important;
    font-size: 1.4rem;
    margin: 0;
}



/* Filter and Sort Asides */
.filter-aside-container,
.sort-aside-container {
    position: fixed;
    background: #f2eeeb;
    width: 100vw !important;
    height: 100vh !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    z-index: 2000;
    top: 0;
    bottom: 0;
    padding: 0 15px;
}

.filter-aside-container {
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

.sort-aside-container {
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    max-width: none;
    /* Full-width for mobile */
    height: auto;
    padding: 20px;
}

.filter-aside-container.active,
.sort-aside-container.active {
    transform: translateX(0);
    transform: translateY(0);
}

/* Close Buttons */
.sort-aside-close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 2100;
    /* Higher than the aside */
}

.filter-aside-close-btn {
    background: none;
    border: none;
    font-size: 3.5rem;
    position: absolute;
    top: -6px;
    right: 15px;
    cursor: pointer;
    z-index: 2100;
    margin: 90px 0 0;
    color: #610C27;
}

/* Headings */
.sort-aside-heading {
    font-family: 'Playfair Display';
    font-size: 2.5rem;
    font-weight: 500;
}

.filter-aside-heading {
    margin: 90px 0 0;
    font-family: 'Playfair Display';
    font-size: 2.5rem;
    font-weight: 500;
}

/* Overlay */
.filter-sort-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.filter-sort-overlay.active {
    display: block;
}