.mobile-filter-row-item {
    display: flex;
    gap: 4px;
    align-items: center;
}
.mobile-filter-row-item img{
    width: 25px;
    height: auto;
}
.mobile-filter-row-item p{
    color: #610C27;
    text-wrap: nowrap !important;
    font-size: 1.4rem;
    margin: 0;
}